body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}

#ahorcado {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.tableroletras {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

.palabra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
}

.palabras {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 0 10px;
    border: none;
    background: transparent;
    outline: none;
}

.letrasusadas, .letra {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin: 10px auto;
    width: auto;
    font-weight: bold;
}

.letra {
    font-size: 1.5em;
    width: 100%;
}

.mensaje {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    max-width: 80%;
    font-weight: bold;
    color: red;
}

.botones_juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.nvojuego, .desistir {
    width: 80%;
    max-width: 250px;
    height: 60px;
    margin: 10px;
    font-size: 1em; /* Reducido el tamaño de fuente */
    font-weight: bold;
}

.nvojuego {
    background: #0A3871;
    color: #FFFFFF;
}

.desistir {
    background: #ffffff;
    color: #0A3871;
}
