body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Ajuste para ocupar al menos el 100% del alto de la ventana */
    padding: 20px;
    box-sizing: border-box;
}

.nueva-palabra {
    margin-top: 20px; /* Reducido el espacio superior */
    font-size: 18px; /* Ajuste del tamaño de fuente */
    border: none;
    background: transparent;
    text-align: center; /* Centrado del texto */
}

._8letras {
    font-size: 14px; /* Ajuste del tamaño de fuente */
    margin-bottom: 10px; /* Reducido el espacio inferior */
    text-align: center; /* Centrado del texto */
}

.botonera {
    display: flex;
    flex-direction: column; /* Cambiado a columna para dispositivos más pequeños */
    justify-content: center;
    align-items: center;
}

.btnAgregar,
.btnCancelar {
    width: 80%;
    max-width: 250px;
    height: 60px;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.btnAgregar {
    background: #0A3871;
    color: #FFFFFF;
}

.btnCancelar {
    background: #ffffff;
    color: #0A3871;
}
